# Latihan Basic  variable dan Tipe Data

In [3]:
#contoh Variable 

a = "andi"
b = "carol" 
c = 'hujan'
x = 1992

In [6]:
#print Variable untuk memanggil value
print (a,b,c)
print (x)

andi carol hujan
1992

In [7]:
#Penamaan Variable bisa di buat 1 baris 
x, y, z = "carol", 29, "Tahun"

In [8]:
print (x,y,z)

carol 29 Tahun

In [160]:
# tipe varibale (String)
Nama = "andi"
angka = "55555"
hari = "jum'at"
rata_rata = 'rata"'

In [10]:
print(hari)
print(rata_rata)

jum'at
rata"

In [11]:
#tipe variable (integer)
bil1 = 2
bil2 = 4

In [14]:
print (bil1 + bil2)
print(bil1)
print(bil2)

6
2
4

In [15]:
#tipe variable (float), penulisan bukan menggunakan koma melain kan menggunakan titik
angka1 = 1.5
angka2 = 3.3

In [16]:
print (angka2)
print(angka1)
print (angka1 * angka2)

3.3
1.5
4.949999999999999

In [57]:
#tipe variable (Boolean)
angka1 = 1
benar = False 
komparasi = (angka1==1)

In [59]:
angka1 == 1

True

In [48]:
#tipe data di phyton 
#list        : penulisan [] mutable,nasted
#tuple        : penulisan () immutable, nasted
#set          : penulisan {} tidak menyimpan nilai duplicate
#dictionary   : penulisan {} pasangan key dan values

In [96]:
#contoh tipe data LIST 
biodata = ['andi', 65, 170]

In [97]:
print(biodata[0],biodata[1],biodata[2])
print (biodata [2])

andi 65 170
170

In [98]:
#value di LIST bisa di ubah
biodata[1]=180

In [99]:
print(biodata)

['andi', 180, 170]

In [112]:
#contoh tipe data TUPLE
biodata = ('andi', 17, 170)

In [113]:
print (biodata[1], biodata[0])

17 andi

In [111]:
#value di TUPLE ttidak bisa di 
biodata[1] = 2

TypeError: 'tuple' object does not support item assignment

In [155]:
 #contoh tipe data SET
biodata = {'andi', 45, 170, 'andi'}

In [156]:
#value di SET yang duplicate di baca 1 kali
print(biodata)

{'andi', 170, 45}

In [158]:
#Values SET tidak bisa di ubah
biodata[1] = 3

TypeError: 'set' object does not support item assignment

In [159]:
print(biodata)

{'andi', 170, 45}

In [142]:
#contoh tipe data DICTIONARY
biodata =  {"Nama" : 'andi', 'berat' : 45, 'tinggi' : 170 }

In [143]:
print(biodata)

{'Nama': 'andi', 'berat': 45, 'tinggi': 170}

In [144]:
biodata.keys()

dict_keys(['Nama', 'berat', 'tinggi'])

In [145]:
biodata.values()

dict_values(['andi', 45, 170])

In [147]:
biodata['Nama']

'andi'

In [148]:
biodata['tinggi']

170

In [149]:
#values DICTIONARY bisa di ubah
biodata['tinggi'] = 1

In [150]:
print(biodata)

{'Nama': 'andi', 'berat': 45, 'tinggi': 1}

# logika dan aritmatika dalam phyton

ARITMATIKA

In [4]:
#kabataku
print("hello" * 1)
print(1992 - 4)
print("hello" + " world")
print("andi " * 10)

hello
1988
hello world
andi andi andi andi andi andi andi andi andi andi

In [5]:
y = 1 + 75 * 9 - 6

In [6]:
print(y)

670

In [7]:
#pangkat penulisan menggunakan ** dua, contoh 
y = 2**3
print(y)

8

In [8]:
#modulo menggunakan % , contoh
angka1 = 10 % 2
angka2 = 5 % 3
print(angka1, angka2)

0 2

In [25]:
#pembagian menggunakan /, contoh
bil1 = 10 / 2
bil2 = 8 / 3
print(bil1)
print(bil2)

#untuk mengurangi angka di belakang koma menggunakan // dua atau floor, contohnya
bil3 = 8 // 3
print(bil3)

5.0
2.6666666666666665
2

# LOGIKA

In [34]:
#if
nilai = 80 
if nilai >= 70:
    print("kamu lulus")

kamu lulus

In [37]:
#if - else
nilai = 60
if nilai >= 78: 
    print("kamu lulus")
else: 
    print("tidak lulus")

tidak lulus

In [187]:
#contoh ke 2 
atap = 1
genteng = 1
lantai = 1
if (atap == 0 | genteng >= 1):
    print("lumayan")
elif(genteng == 0  | lantai >= 1 ):
    print("lumayan")
elif(lantai == 0 | atap >= 1):
    print("lumayan")
elif(atap == 0 | genteng == 0):
    print("tidak baik")
elif(genteng == 0| lantai == 0):
    print("tidak baik")
elif(lantai == 0 | atap == 0):
    print("tidak baik")
else:    
    print("baik")

lumayan

In [189]:
buah = ['jeruk', 'mangga', 'melon']
buah_yang_dicari = input('Masukkan nama buah dalam huruf kecil: ')

if (buah_yang_dicari in buah):
  print('Buah yang anda cari tersedia!')
else:
  print('Buah yang anda cari tidak tersedia!')

Masukkan nama buah dalam huruf kecil: sirsak
Buah yang anda cari tidak tersedia!

In [274]:
#for - loop
list_me = (1, 2, 3, 4,5)
for i in list_me:
    print(i)

1
2
3
4
5

In [220]:
a = 2
b = 3
un = a
for i in range(0,10):
    print(i)
    un = un + b 
print(un)

0
1
2
3
4
5
6
7
8
9
32

In [212]:
#while loop 
con=0
while con < 9:
    con += 1
    print(con)

1
2
3
4
5
6
7
8
9

In [225]:
a =2
b =3
un = a
while (un <= 30 ):
    un = un + b 
print(un)

32

# FUNCTION

In [227]:
#tanpa menggunakan functions

a = 2
b = 3

a_pangkat = a**2
b_pangkat = b**2

print(a_pangkat,b_pangkat)

4 9

In [4]:
#menggunakan functions

def pangkat_angka(angka,pangkat,tambah):
    return angka ** pangkat + tambah

def kuadrat(angka):
    return angka ** 2


a = 2
b = 3

a_pangkat = pangkat_angka(a,3,10)
b_pangkat = pangkat_angka(b,2,10)

print(a_pangkat,b_pangkat)

18 19

In [254]:
#build in function

list_aku= [1,3,2,4,6,5,7,8,9]
maximum = max(list_aku)
minimum = min(list_aku)

print(maximum,minimum)
print(list_aku)
sorted(list_aku)

9 1
[1, 3, 2, 4, 6, 5, 7, 8, 9]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
#define map function

nilai =[98, 57, 75]
nilai1 = [2, 3]

#applay "kuadrat" function to "nilai" list

print(list(map(kuadrat, nilai)))

[9604, 3249, 5625]

In [12]:
#define map function
biodata = ['andi', 'carol', 'junior']

print(list(map(list,biodata)))

[['a', 'n', 'd', 'i'], ['c', 'a', 'r', 'o', 'l'], ['j', 'u', 'n', 'i', 'o', 'r']]

In [2]:
#define map function LAMBDA

nilai3 = [1,2,3]

#penulisan LAMBDA 
print(list(map(lambda a: a**2 , nilai3)))

[1, 4, 9]

# PACKAGE PHYTON
# pandas

In [1]:
#import pandas library

import pandas as pd

In [2]:
#membuat dataframe

df = pd.DataFrame(columns=['nama', 'umur'])

In [20]:
df

Empty DataFrame
Columns: [nama, umur]
Index: []

In [21]:
#mengisi coloumns 

df = df.append({'nama': 'andi', 'umur' : '30' }, ignore_index=1)
df = df.append({'nama': 'carol', 'umur' : '29' }, ignore_index=2)

#menambahkan colomns baru 
df['sex'] = ['laki - laki','perempuan']
df

    nama umur          sex
0   andi   30  laki - laki
1  carol   29    perempuan

    nama umur
0   andi   30
1  carol   29
2   andi   30
3  carol   29

In [4]:
#membuat dataframe dari dictionary
data = {'nama':['andi','carol'], 
       'umur':['30','29'],
       'sex':['laki-laki','perempuan']}
df=pd.DataFrame(data)
df

    nama umur        sex
0   andi   30  laki-laki
1  carol   29  perempuan

In [14]:
#latihan pandas library
import pandas as pd
df = pd.DataFrame(columns=['nama','kelamin'])

In [15]:
df

Empty DataFrame
Columns: [nama, kelamin]
Index: []

In [19]:

df = df.append({'nama': 'andi','kelamin': 'laki - laki'},ignore_index=1)

df['pacar'] = ['sheila', 'mirda']

In [20]:
df

   nama      kelamin   pacar
0  andi  laki - laki  sheila
1  andi  laki - laki   mirda